---
title: Blade Skills
---

{% assign empty_array = '' | split: '|' %}

{% assign tags = empty_array | push: 'General' %}
{% for blade_skill in site.blade-skills %}
  {% for tag in blade_skill.tags %}
    {% unless tags contains tag %}
      {% assign tags = tags | push: tag %}
    {% endunless %}
  {% endfor %}
{% endfor %}
{% assign tags = tags | sort %}

{% assign general_blade_skills = empty_array %}
{% for blade_skill in site.blade-skills %}
  {% assign tag_blank = blade_skill.tags | default: '' %}
  {% if tag_blank == '' %}
    {% assign general_blade_skills = general_blade_skills | push: blade_skill %}
  {% endif %}
{% endfor %}

{% for tag in tags %}
  <div class="card">
    <div class="card-header">
      <h2 class="h4 card-title m-b-0 p-b-0">{{ tag }} Blade Skills</h2>
    </div>

    {% if tag == 'General' %}
      {% assign this_tag_blade_skills = general_blade_skills %}
    {% else %}
      {% assign this_tag_blade_skills = empty_array %}
      {% for blade_skill in site.blade-skills %}
        {% if blade_skill.tags contains tag %}
          {% assign this_tag_blade_skills = this_tag_blade_skills | push: blade_skill %}
        {% endif %}
      {% endfor %}
    {% endif %}

    <div class="card-block">
      {% for level in site.data.general.levels_including_blank %}
        {% assign this_level_blade_skills = this_tag_blade_skills | where: 'minimum_level', level %}
        {% if this_level_blade_skills[0] %}
          {% if level != '' %}
            <h3 class="h5 card-title">Minimum Level {{ level }}</h3>
          {% endif %}

          <ul class="card-text">
            {% for blade_skill in this_level_blade_skills %}
              <li class="card-text">
                <a href="{{ blade_skill.url }}">{{ blade_skill.title }}</a>

                {% for anti_tag in blade_skill.anti_tags %}
                  (non-{{ anti_tag }})
                {% endfor %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endfor %}
