---
title: Classes
---

{% assign empty_array = '' | split: '|' %}

{% assign tags = empty_array %}
{% for class in site.classes %}
  {% for tag in class.tags %}
    {% unless tags contains tag %}
      {% assign tags = tags | push: tag %}
    {% endunless %}
  {% endfor %}
{% endfor %}
{% assign tags = tags | sort %}

{% for tag in tags %}
  <div class="card">
    <div class="card-header">
      <h2 class="h4 card-title m-b-0 p-b-0">{{ tag | capitalize }} Classes</h2>
    </div>

    {% if tag == 'General' %}
      {% assign this_tag_classes = general_classes %}
    {% else %}
      {% assign this_tag_classes = empty_array %}
      {% for class in site.classes %}
        {% if class.tags contains tag %}
          {% assign this_tag_classes = this_tag_classes | push: class %}
        {% endif %}
      {% endfor %}
    {% endif %}

    <div class="card-block">
      <ul class="card-text">
        {% for class in this_tag_classes %}
          <li class="card-text">
            <a href="{{ class.url }}">{{ class.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endfor %}
