---
title: Stalker Arts
---

{% assign empty_array = '' | split: '|' %}

{% assign tags = empty_array | push: 'General' %}
{% for stalker_art in site.stalker-arts %}
  {% for tag in stalker_art.tags %}
    {% unless tags contains tag %}
      {% assign tags = tags | push: tag %}
    {% endunless %}
  {% endfor %}
{% endfor %}
{% assign tags = tags | sort %}

{% assign general_stalker_arts = empty_array %}
{% for stalker_art in site.stalker-arts %}
  {% assign tag_blank = stalker_art.tags | default: '' %}
  {% if tag_blank == '' %}
    {% assign general_stalker_arts = general_stalker_arts | push: stalker_art %}
  {% endif %}
{% endfor %}

{% for tag in tags %}
  <div class="card">
    <div class="card-header">
      <h2 class="h4 card-title m-b-0 p-b-0">{{ tag }} {{ page.title }}</h2>
    </div>

    {% if tag == 'General' %}
      {% assign this_tag_stalker_arts = general_stalker_arts %}
    {% else %}
      {% assign this_tag_stalker_arts = empty_array %}
      {% for stalker_art in site.stalker-arts %}
        {% if stalker_art.tags contains tag %}
          {% assign this_tag_stalker_arts = this_tag_stalker_arts | push: stalker_art %}
        {% endif %}
      {% endfor %}
    {% endif %}

    <div class="card-block">
      {% for level in site.data.general.levels_including_blank %}
        {% assign this_level_stalker_arts = this_tag_stalker_arts | where: 'minimum_level', level %}
        {% if this_level_stalker_arts[0] %}
          {% if level != '' %}
            <h3 class="h5 card-title">Minimum Level {{ level }}</h3>
          {% endif %}

          <ul class="card-text">
            {% for stalker_art in this_level_stalker_arts %}
              <li class="card-text">
                <a href="{{ stalker_art.url }}">{{ stalker_art.title | append: '' | markdownify | remove: '<p>' | remove: '</p>' }}</a>

                {% if stalker_art.type %}
                  ({{ stalker_art.type }})
                {% endif %}

                {% for anti_tag in stalker_art.anti_tags %}
                  (non-{{ anti_tag }})
                {% endfor %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endfor %}
