---
layout: default
---

{% if page.price or page.weight or page.type or page.save or page.effect or page.cure %}
  <ul class="list-unstyled">
    {% if page.price or page.weight %}
      <li>
        <ul class="list-inline">
          {% if page.price %}
            <li class="list-inline-item">
              <strong>Price</strong>
              {{ page.price | markdownify | replace: '<hr />', '&mdash;' | remove: '<p>' | remove: '</p>' }}
            </li>
          {% endif %}
          {% if page.weight %}
            <li class="list-inline-item">
              <strong>Weight</strong>
              {{ page.weight | markdownify | replace: '<hr />', '&mdash;' | remove: '<p>' | remove: '</p>' }}
            </li>
          {% endif %}
        </ul>
      </li>
    {% endif %}

    {% if page.type or page.addiction or page.save %}
      <li>
        <ul class="list-inline">
          {% if page.type %}
            <li class="list-inline-item">
              <strong>Type</strong>
              {{ page.type | markdownify | replace: '<hr />', '&mdash;' | remove: '<p>' | remove: '</p>' }}
            </li>
          {% endif %}
          {% if page.addiction %}
            <li class="list-inline-item">
              <strong>Addiction</strong>
              {{ page.addiction | markdownify | replace: '<hr />', '&mdash;' | remove: '<p>' | remove: '</p>' }}
            </li>
          {% endif %}
          {% if page.save %}
            <li class="list-inline-item">
              <strong>Save</strong>
              {{ page.save | markdownify | replace: '<hr />', '&mdash;' | remove: '<p>' | remove: '</p>' }}
            </li>
          {% endif %}
        </ul>
      </li>
    {% endif %}

    {% if page.initial_effect or page.secondary_effect or page.effect or page.damage or page.cure %}
      <li>
        <ul class="list-inline">
          {% if page.initial_effect %}
            <li class="list-inline-item">
              <strong>Initial Effect</strong>
              {{ page.initial_effect | markdownify | replace: '<hr />', '&mdash;' | remove: '<p>' | remove: '</p>' }}
            </li>
          {% endif %}
          {% if page.secondary_effect %}
            <li class="list-inline-item">
              <strong>Secondary Effect</strong>
              {{ page.secondary_effect | markdownify | replace: '<hr />', '&mdash;' | remove: '<p>' | remove: '</p>' }}
            </li>
          {% endif %}
          {% if page.effect %}
            <li class="list-inline-item">
              <strong>Effect</strong>
              {{ page.effect | markdownify | replace: '<hr />', '&mdash;' | remove: '<p>' | remove: '</p>' }}
            </li>
          {% endif %}
          {% if page.damage %}
            <li class="list-inline-item">
              <strong>Damage</strong>
              {{ page.damage | markdownify | replace: '<hr />', '&mdash;' | remove: '<p>' | remove: '</p>' }}
            </li>
          {% endif %}
          {% if page.cure %}
            <li class="list-inline-item">
              <strong>Cure</strong>
              {{ page.cure | markdownify | replace: '<hr />', '&mdash;' | remove: '<p>' | remove: '</p>' }}
            </li>
          {% endif %}
        </ul>
      </li>
    {% endif %}
  </ul>
{% endif %}

{{ content }}
