---
layout: default
---

{{ content }}

<h2>Class Features</h2>

<dl>
  {% if page.prerequisites %}
    <dt>Prerequisites</dt>
    <dd>{{ page.prerequisites | join: ", " }}</dd>
  {% endif %}

  <dt>Hit Die</dt>
  <dd>d{{ page.hit_die }}</dd>

  <dt>Skill Ranks per Level</dt>
  <dd>{{ page.skill_ranks_per_level }} + Int</dd>

  <dt>Class Skills
  <dd>{{ page.class_skills | sort | join: ", " }}</dd>

  <dt>Starting Wealth</dt>
  <dd>{{ page.starting_wealth }}</dd>

  <dt>Weapon Proficiencies</dt>
  <dd>{{ page.weapon_proficiencies | join: ", " }}</dd>

  <dt>Armor Proficiencies</dt>
  <dd>
    {{ page.armor_proficiencies | join: ", " }}
    {% unless page.armor_proficiencies %}
      &mdash;
    {% endunless %}
  </dd>

  <dt>Shield Proficiencies</dt>
  <dd>
    {{ page.shield_proficiencies | join: ", " }}
    {% unless page.shield_proficiencies %}
      &mdash;
    {% endunless %}
  </dd>
</dl>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-xs-center" {% if page.spells_per_day %}rowspan="2"{% endif %}>Level</th>
      <th class="text-xs-center" {% if page.spells_per_day %}rowspan="2"{% endif %}>
        <abbr title="Base Attack Bonus">BAB</abbr>
      </th>
      <th class="text-xs-center" {% if page.spells_per_day %}rowspan="2"{% endif %}>
        <abbr title="Fortitude Save">Fort</abbr></th>
      <th class="text-xs-center" {% if page.spells_per_day %}rowspan="2"{% endif %}>
        <abbr title="Reflex Save">Ref</abbr>
      </th>
      <th class="text-xs-center" {% if page.spells_per_day %}rowspan="2"{% endif %}>
        <abbr title="Will Save">Will</abbr>
      </th>
      <th {% if page.spells_per_day %}rowspan="2"{% endif %}>Special</th>
      {% if page.spells_per_day %}
        <th class="text-xs-center" colspan="6">Spells per Day</th>
      {% endif %}
      {% if page.manifesting_progression %}
        <th class="text-xs-center"><abbr title="Power Points">PP</abbr>/Day</th>
        {% unless site.data.manifesting-progressions[page.manifesting_progression].pp_only %}
          <th class="text-xs-center">Powers Known</th>
          <th class="text-xs-center">Maximum Power Level Known</th>
        {% endunless %}
      {% endif %}
      {% if page.initiating_progression %}
        <th class="text-xs-center">Maneuvers Known</th>
        <th class="text-xs-center">Maneuvers Readied</th>
        <th class="text-xs-center">Stances</th>
        {% if site.data.initiating-progressions[page.initiating_progression].max_maneuver_level %}
          <th class="text-xs-center">Max. Maneuver Level Known</th>
        {% endif %}
      {% endif %}
    </tr>
    {% if page.spells_per_day %}
      <tr>
        {% for spell_level in (1..site.data.spells-per-day[page.spells_per_day].spell_levels) %}
          <th class="text-xs-center">{{ spell_level }}</th>
        {% endfor %}
      </tr>
    {% endif %}
  </thead>

  <tbody>
    {% for level in (1..page.max_level) %}
      <tr>
        <td class="text-xs-center">{{ level }}</td>
        <td class="text-xs-center">
          {% case page.bab_progression %}
            {% when 'full' %} +{{ level | times: 1 | floor}}
            {% when 'mid' %}  +{{ level | times: 0.75 | floor}}
            {% when 'half' %} +{{ level | times: 0.5 | floor}}
          {% endcase %}
        </td>
        <td class="text-xs-center">
          {% case page.fort_progression %}
            {% when 'good' %} +{{ level | plus: 4 | times: 0.5 | floor}}
            {% when 'poor' %} +{{ level | plus: 1 | times: 0.333 | floor}}
          {% endcase %}
        </td>
        <td class="text-xs-center">
          {% case page.ref_progression %}
            {% when 'good' %} +{{ level | plus: 4 | times: 0.5 | floor}}
            {% when 'poor' %} +{{ level | plus: 1 | times: 0.333 | floor}}
          {% endcase %}
        </td>
        <td class="text-xs-center">
          {% case page.will_progression %}
            {% when 'good' %} +{{ level | plus: 4 | times: 0.5 | floor}}
            {% when 'poor' %} +{{ level | plus: 1 | times: 0.333 | floor}}
          {% endcase %}
        </td>
        <td>
          {% assign level_features = "" | split:"|" %}
          {% for feature in page.class_features %}
            {% if feature.levels contains level %}
              {% assign slugified_name = feature.name | slugify %}
              {% assign markdownified_name = feature.name | append: '' | markdownify | remove: '<p>' | remove: '</p>' | rstrip %}
              {% assign feature_link = '<a href="#' | append: slugified_name | append: '">' | append: markdownified_name | append: '</a>' %}
              {% if feature.levels_text[level] %}
                {% assign this_level_text = feature.levels_text[level] | append: '' | markdownify | remove: '<p>' | remove: '</p>' | rstrip %}
                {% assign feature_link = feature_link | append: ' (' | append: this_level_text | append: ')' %}
              {% endif %}
              {% assign level_features = level_features | push: feature_link %}
            {% endif %}
          {% endfor %}
          {{ level_features | sort | join: ", " }}
        </td>
        {% if page.spells_per_day %}
          {% for spell_level in (1..site.data.spells-per-day[page.spells_per_day].spell_levels) %}
            {% assign spell_level_minus_one = spell_level | minus: 1 %}
            <td>
              {{ site.data.spells-per-day[page.spells_per_day][level][spell_level_minus_one] | append: '' | markdownify | remove: '<p>' | remove: '</p>' }}
            </td>
          {% endfor %}
        {% endif %}
        {% if page.manifesting_progression %}
          {% assign cols = 2 %}
          {% if site.data.manifesting-progressions[page.manifesting_progression].pp_only %}
            {% assign cols = 0 %}
          {% endif %}
          {% for i in (0..cols) %}
            <td class="text-xs-center">
              {{ site.data.manifesting-progressions[page.manifesting_progression][level][i] | append: '' | markdownify | remove: '<p>' | remove: '</p>' }}
            </td>
          {% endfor %}
        {% endif %}
        {% if page.initiating_progression %}
          {% assign cols = 2 %}
          {% if site.data.initiating-progressions[page.initiating_progression].max_maneuver_level %}
            {% assign cols = 3 %}
          {% endif %}
          {% for i in (0..cols) %}
            <td class="text-xs-center">
              {{ site.data.initiating-progressions[page.initiating_progression][level][i] | append: '' | markdownify | remove: '<p>' | remove: '</p>' }}
            </td>
          {% endfor %}
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% for level in (1..page.max_level) %}
  {% assign level_features = "" | split:"|" %}
  {% for feature in page.class_features %}
    {% if feature.levels[0] == level %}
      {% assign level_features = level_features | push: feature %}
    {% endif %}
  {% endfor %}
  {% assign level_features = level_features | sort: "name" %}

  {% for feature in level_features %}
    <h3 id="{{ feature.name | slugify }}"><span style="text-transform: capitalize;">{{ feature.name | append: '' | markdownify | remove: '<p>' | remove: '</p>' }}</span> {% if feature.type %}({{ feature.type }}){% endif %}</h3>

    {{ feature.text | markdownify }}
  {% endfor %}
{% endfor %}
