---
layout: default
---

{% if page.type or page.minimum_level or page.tags.size > 0 %}
  <ul class="list-inline">
    {% if page.type %}
      <li class="list-inline-item">
        <strong>Type</strong> {{ page.type }}
      </li>
    {% endif %}

    {% if page.minimum_level %}
      <li class="list-inline-item">
        <strong>Minimum Class Level</strong>
        {{ page.minimum_level }}
      </li>
    {% endif %}

    {% if page.tags.size > 0 %}
      <li class="list-inline-item">
        <strong>Tags</strong>
        {{ page.tags | join: ', ' }}
      </li>
    {% endif %}
  </ul>
{% endif %}

{{ content }}
