---
layout: default
---

{{ content }}

{% for collection in site.collections %}
  {% assign this_collection_items = collection.docs | where_exp: 'item', 'item.descriptors contains page.title' | sort: 'title' %}

  {% if this_collection_items.size > 0 %}
    <h2>{{ collection.title }}</h2>

    <ul>
      {% for item in this_collection_items %}
        <li><a href="{{ item.url }}">{{ item.title | append: '' | markdownify | remove: '<p>' | remove: '</p>' }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
