---
layout: default
---

{% assign empty_array = '' | split: '|' %}

{% assign stat_items = empty_array %}

{% if page.type %}
  {% assign stat_item_text = '<strong>Price</strong> ' | append: page.price %}
  {% assign stat_items = stat_items | push: stat_item_text %}
{% endif %}

{% if page.tags|size > 0 %}
  {% assign stat_item_text = page.tags | join: ', ' | prepend: '<strong>Tags</strong> ' %}
  {% assign stat_items = stat_items | push: stat_item_text %}
{% endif %}

{% if stat_items|size > 0 %}
  <p>{{ stat_items|join: '; ' }}</p>
{% endif %}

{{ content }}
