---
layout: default
---

{% assign empty_array = "" | split:"|" %}

{% if page.flavor_text %}
  <em>{{ page.flavor_text | markdownify }}</em>
{% endif %}

<dl>
  {% if page.tags %}
    {% assign types = site.feat-types | where_exp: 'item', 'page.tags contains item.title' %}
    <dt>Feat Type(s)</dt>
    <dd>
      <ul class="list-inline">
        {% for type in types %}
          <li class="list-inline-entry">
            <a href="{{ type.url }}">{{ type.title }}</a>
          </li>
        {% endfor %}
        {% if types.size == 0 %}
          <li class="list-inline-entry">
            <a href="/feat-types/general/">General</a>
          </li>
        {% endif %}
      </ul>
    </dd>
  {% endif %}

  {% if page.prerequisites %}
    <dt>Prerequisites</dt>
    <dd>
      <ul class="list-inline">
        {% for prerequisite in page.prerequisites %}
          <li class="list-inline-item">
            {{ prerequisite | markdownify | remove: '<p>' | remove: '</p>' }}
          </li>
        {% endfor %}
      </ul>
    </dd>
  {% endif %}

  {% if page.benefit %}
    <dt>Benefit</dt>
    <dd>{{ page.benefit | markdownify }}</dd>
  {% endif %}

  {% if page.special %}
    <dt>Special</dt>
    <dd>{{ page.special | markdownify }}</dd>
  {% endif %}

  {% if page.normal %}
    <dt>Normal</dt>
    <dd>{{ page.normal | markdownify }}</dd>
  {% endif %}
</dl>

{{ content }}
