---
layout: default
---

{{ content }}

{% assign empty_array = '' | split: '|' %}
{% assign listing_source = page.listing_source | default: layout.listing_source %}
{% assign source_collection = site.collections | where: 'label', listing_source | first %}

{% assign limit_by_page_title_as_tag = page.limit_by_page_title_as_tag | default: layout.limit_by_page_title_as_tag %}

{% if limit_by_page_title_as_tag %}
  {% assign tags = empty_array | push: page.title %}
{% else %}
  {% assign tags = empty_array | push: 'General' %}

  {% for item in site[listing_source] %}
    {% for tag in item.tags %}
      {% assign tags = tags | push: tag %}
    {% endfor %}
  {% endfor %}

  {% assign tags = tags | uniq | sort %}
{% endif %}

{% for tag in tags %}
  {% assign this_tag_items = site[listing_source] | where_exp: 'item', 'item.tags contains tag' %}

  {% if tag == 'General' %}
    {% assign items_with_no_tags = site[listing_source] | where_exp: 'item', 'item.tags.size == 0' %}
    {% for item_with_no_tags in items_with_no_tags %}
      {% assign this_tag_items = this_tag_items | push: item_with_no_tags %}
    {% endfor %}
  {% endif %}

  {% if this_tag_items.size > 0 %}
    <h2>{{ tag }} {{ source_collection.title }}</h2>

    {% assign grouped_items = this_tag_items | group_by: 'minimum_level' %}
    {% for group in grouped_items %}
      {% if group.name != '' %}
        <h3 class="h4 m-y-1">Minimum Level {{ group.name }}</h3>
      {% endif %}

      <ul>
        {% for item in group.items %}
          <li>
            <a href="{{ item.url }}">{{ item.title | append: '' | markdownify | remove: '<p>' | remove: '</p>' | rstrip }}</a>{% if item.type %} ({{ item.type }}){% endif %}{% if item.summary or item.flavor_text %}:

              {{ item.summary | default: item.flavor_text | append: '' | markdownify | remove: '<p>' | remove: '</p>' }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  {% endif %}
{% endfor %}
