---
layout: default
---

{{ content }}

{% assign empty_array = '' | split: '|' %}

{% if page.listing_source %}
  {% assign listing_source = page.listing_source %}
{% else %}
  {% assign listing_source = layout.listing_source %}
{% endif %}
{% assign source_collection = site.collections|where: 'label', listing_source %}
{% assign source_collection = source_collection[0] %}

{% if page.limit_by_page_title_as_tag %}
  {% assign limit_by_page_title_as_tag = page.limit_by_page_title_as_tag %}
{% else %}
  {% assign limit_by_page_title_as_tag = layout.limit_by_page_title_as_tag %}
{% endif %}

{% if limit_by_page_title_as_tag %}
  {% assign tags = empty_array | push: page.title %}
{% else %}
  {% if page.include_general %}
    {% assign tags = empty_array | push: 'General' %}
  {% else %}
    {% assign tags = empty_array %}
  {% endif %}

  {% assign general_items = empty_array %}
  {% for item in site[listing_source] %}
    {% for tag in item.tags %}
      {% unless tags contains tag %}
        {% assign tags = tags | push: tag %}
      {% endunless %}
    {% endfor %}
  {% endfor %}
  {% assign tags = tags | sort %}
{% endif %}

{% for tag in tags %}
  <h2>{{ tag }} {{ source_collection.title }}</h2>

  {% assign this_tag_items = empty_array %}
  {% for item in site[listing_source] %}
    {% if item.tags contains tag %}
      {% assign this_tag_items = this_tag_items | push: item %}
    {% endif %}

    {% if tag == 'General' %}
      {% assign item_tags_size = item.tags|size %}
      {% if item_tags_size == 0 %}
        {% assign this_tag_items = this_tag_items | push: item %}
      {% endif %}
    {% endif %}
  {% endfor %}

  <ul>
    {% for item in this_tag_items %}
      <li>
        <a href="{{ item.url }}">{{ item.title | append: '' | markdownify | remove: '<p>' | remove: '</p>' }}</a>{% if item.summary or item.flavor_text %}:

          {% if item.summary %}
            {{ item.summary | append: '' | markdownify | remove: '<p>' | remove: '</p>' }}
          {% else %}
            {{ item.flavor_text | append: '' | markdownify | remove: '<p>' | remove: '</p>' }}
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endfor %}
