---
layout: default
---

<ul class="list-unstyled">
  {% if page.aura or page.cl %}
    <li>
      {% if page.aura %}
        <strong>Aura</strong> {{ page.aura | append: '' | markdownify | remove: '<p>' | remove: '</p>' | replace: '<hr />', '&mdash;' | rstrip }}{% if page.cl %};{% endif %}
      {% endif %}

      {% if page.cl %}
        <strong>CL</strong> {{ page.cl | append: '' | markdownify | remove: '<p>' | remove: '</p>' | replace: '<hr />', '&mdash;' | rstrip }}
      {% endif %}
    </li>
  {% endif %}

  {% if page.slot or page.type or page.weight or page.price %}
    <li>
      {% if page.slot %}
        <strong>Slot</strong> {{ page.slot | append: '' | markdownify | remove: '<p>' | remove: '</p>' | replace: '<hr />', '&mdash;' | rstrip }}{% if page.weight or page.type or page.price %};{% endif %}
      {% endif %}

      {% if page.type %}
        <strong>Type</strong> {{ page.type | append: '' | markdownify | remove: '<p>' | remove: '</p>' | replace: '<hr />', '&mdash;' | rstrip }}{% if page.weight or page.price %};{% endif %}
      {% endif %}

      {% if page.weight %}
        <strong>Weight</strong> {{ page.weight | append: '' | markdownify | remove: '<p>' | remove: '</p>' | replace: '<hr />', '&mdash;' | rstrip }}{% if page.price %};{% endif %}
      {% endif %}

      {% if page.price %}
        <strong>Price</strong> {{ page.price | append: '' | markdownify | remove: '<p>' | remove: '</p>' | replace: '<hr />', '&mdash;' | rstrip }}
      {% endif %}
    </li>
  {% endif %}
</ul>

{{ content }}

<ul class="list-unstyled">
  {% if page.construction_requirements or page.cost %}
    <li>
      {% if page.construction_requirements|size > 0 %}
        <strong>Construction Requirements</strong>

        {% assign processed_requirements = '' | split: '|' %}
        {% for item in page.construction_requirements %}
          {% assign this_requirement = item | append: '' | markdownify | remove: '<p>' | remove: '</p>' | replace: '<hr />', '&mdash;' | rstrip %}
          {% assign processed_requirements = processed_requirements | push: this_requirement %}
        {% endfor %}

        {{ processed_requirements | join: ', '  }}{% if page.cost %};{% endif %}
      {% endif %}

      {% if page.cost %}
        <strong>Cost</strong> {{ page.cost | append: '' | markdownify | remove: '<p>' | remove: '</p>' | replace: '<hr />', '&mdash;' | rstrip }}
      {% endif %}
    </li>
  {% endif %}
</ul>
