---
layout: default
---

{% assign stats = '' | split: '|' %}

{% if page.ability_scores %}
  {% assign ability_scores = page.ability_scores | markdownify | remove: '<p>' | remove: '</p>' | rstrip %}
  {% assign stats = stats | push: ability_scores %}
{% endif %}

{% if page.type or page.subtypes %}
  {% assign typetext = page.type %}
  {% if page.subtypes %}
    {% assign subtypetext = page.subtypes | sort | join: ', ' %}
    {% assign typetext = typetext | append: ' (' | append: subtypetext | append: ')' | lstrip %}
  {% endif %}

  {% assign stats = stats | push: typetext %}
{% endif %}

{% if page.size %}
  {% assign stats = stats | push: page.size %}
{% endif %}

{% if page.type or page.subtypes %}
  <div class="card card-block" style="z-index: -1;">
    <p class="card-text">
      {{ stats | join: '; ' }}
    </p>
  </div>
{% endif %}

{{ content }}

<h2>Background</h2>

{% assign measurement_rows = '' | split: '|' %}
{% assign measurement_rows = (measurement_rows | push: 'base_height' | push: 'height_modifier' | push: 'base_weight' | push: 'weight_modifier') %}
<table class="table table-striped m-t-1">
  <caption>Random Heights and Weights</caption>
  <thead>
    <tr>
      {% if page.height_and_weight.genders %}
        <th>Gender</th>
      {% endif %}
      <th>Base Height</th>
      <th>Height Modifier</th>
      <th>Base Weight</th>
      <th>Weight Modifier</th>
    </tr>
  </thead>
  <tbody>
    {% for gender in page.height_and_weight.genders %}
      <tr>
        <td>
          {{ gender.name }}
        </td>
        {% for i in measurement_rows %}
          <td>
            {% if gender[i] %}
              {{ gender[i] }}
            {% else %}
              {{ page.height_and_weight[i] }}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
    {% unless page.height_and_weight.genders %}
      <tr>
        <td>{{ page.height_and_weight.base_height }}</td>
        <td>{{ page.height_and_weight.height_modifier }}</td>
        <td>{{ page.height_and_weight.base_weight }}</td>
        <td>{{ page.height_and_weight.weight_modifier }}</td>
      </tr>
    {% endunless %}
  </tbody>
</table>

{% assign starting_age_rows = '' | split: '|' %}
{% assign starting_age_rows = (starting_age_rows | push: 'adulthood' | push: 'intuitive' | push: 'self-taught' | push: 'trained') %}
<table class="table table-striped m-t-1">
  <caption>Random Starting Ages</caption>
  <thead>
      <th>Adulthood</th>
      <th>Intuitive</th>
      <th>Self-Taught</th>
      <th>Trained</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for i in starting_age_rows %}
        <td>
          {{ page.ages[i] }} years
        </td>
      {% endfor %}
    </tr>
  </tbody>
</table>

{% assign aging_effects_rows = '' | split: '|' %}
{% assign aging_effects_rows = (aging_effects_rows | push: 'middle_age' | push: 'old' | push: 'venerable' | push: 'maximum') %}
<table class="table table-striped m-t-1">
  <caption>Aging Effects</caption>
  <thead>
      <th>Middle Age</th>
      <th>Old</th>
      <th>Venerable</th>
      <th>Maximum Age</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for i in aging_effects_rows %}
        <td>
          {{ page.ages[i] | append: '' | markdownify | remove: '<p>' | remove: '</p>' }}
          {% if page.ages[i] != '---' %}years{% endif %}
        </td>
      {% endfor %}
    </tr>
  </tbody>
</table>

- At middle age, --1 to Str, Dex, and Con; +1 to Int, Wis, and Cha.
- At old age, --2 to Str, Dex, and Con; +1 to Int, Wis, and Cha.
- At venerable age, --3 to Str, Dex, and Con; +1 to Int, Wis, and Cha.
