---
layout: default
---

{% assign empty_array = '' | split: '|' %}

{% assign stat_items = empty_array %}
{% if page.type %}
  {% assign type_text = '<strong>Type</strong> ' | append: page.type %}
  {% assign stat_items = stat_items | push: type_text %}
{% endif %}
{% if page.tags contains 'Sneak Attack' %}
  {% assign stat_items = stat_items | push: '<strong>Sneak Attack Talent</strong>' %}
{% endif %}

{% if stat_items|size > 0 %}
  <p>{{ stat_items|join: '; ' }}</p>
{% endif %}

{{ content }}
