---
layout: default
---

{% assign empty_array = '' | split: '|' %}

{% assign stat_items = empty_array %}
{% if page.type %}
  {% assign type_text = '<strong>Type</strong> ' | append: page.type %}
  {% assign stat_items = stat_items | push: type_text %}
{% endif %}
{% if page.tags %}
  {% assign tag_text = page.tags | join: ', ' | prepend: '<strong>Tags</strong> ' %}
  {% assign stat_items = stat_items | push: tag_text %}
{% endif %}

{% if stat_items|size > 0 %}
  <p>{{ stat_items|join: '; ' }}</p>
{% endif %}

{{ content }}
