---
layout: default
---

{% assign empty_array = '' | split: '|' %}

<ul class="list-unstyled">
  {% if page.school or page.subschool or page.descriptors %}
    <li>
      <strong>School</strong>

      {{ page.school }}

      {% if page.subschool %}
        ({{ page.subschool }})
      {% endif %}

      {% if page.descriptors %}
        [<ul class="list-inline">
          {% for descriptor in page.descriptors %}
            {% assign descriptor_entry = site.descriptors | where: 'title', descriptor | first %}
            {% if descriptor_entry %}
              <li class="list-inline-item">
                <a href="{{ descriptor_entry.url }}">{{ descriptor_entry.title }}</a>
              </li>
            {% else %}
              <li class="list-inline-item">
                {{ descriptor }}
              </li>
            {% endif %}
          {% endfor %}
        </ul>]
      {% endif %}
    </li>
  {% endif %}

  {% if page.spell_lists %}
    <li>
      <strong>Spell Lists</strong>
      <ul class="list-inline">
        {% for spell_list in page.spell_lists %}
          <li class="list-inline-item">
            {{ spell_list.name }} {{ spell_list.level }}
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endif %}

  {% if page.casting_time %}
    <li><strong>Casting Time</strong> {{ page.casting_time }}</li>
  {% endif %}

  {% if page.components %}
    <li><strong>Components</strong> {{ page.components | join: ', ' }}</li>
  {% endif %}

  {% if page.range %}
    <li>
      <strong>Range</strong>
      {{ page.range }}
      {% if page.range == 'close' %}(25 ft. + 5 ft./2 levels){% endif %}
      {% if page.range == 'medium' %}(100 ft. + 10 ft./level){% endif %}
      {% if page.range == 'long' %}(400 ft. + 40 ft./level){% endif %}
    </li>
  {% endif %}

  {% if page.target %}
    <li><strong>Target(s)</strong> {{ page.target }}</li>
  {% endif %}

  {% if page.area %}
    <li><strong>Area</strong> {{ page.area }}</li>
  {% endif %}

  {% if page.effect %}
    <li><strong>Effect(s)</strong> {{ page.effect }}</li>
  {% endif %}

  {% if page.duration %}
    <li><strong>Duration</strong> {{ page.duration }}</li>
  {% endif %}

  {% if page.saving_throw %}
    <li><strong>Saving Throw</strong> {{ page.saving_throw }}</li>
  {% endif %}

  {% if page.spell_resistance %}
    <li><strong>Spell Resistance</strong> {{ page.spell_resistance }}</li>
  {% endif %}
</ul>

{{ content }}
